/Project/RAFinder/.gradle
/Project/RAFinder/local.properties
/Project/RAFinder/.idea/workspace.xml
/Project/RAFinder/.idea/libraries
.DS_Store
/Project/RAFinder/build
/Project/RAFinder/captures
/Project/RAFinder/.idea/gradle.xml
/Project/RAFinder/.idea/misc.xml
Project/RAFinder/.idea/dictionaries/cartersm.xml